:root {
	--bg-color: #f5f5f5;
	--text-color: #6c757d;
	--accent-color: #ffd333;
	--contrast-color: #3d464d;
	--gray-color: #ccc;
	--red-color: #ee6e73;
	--light-grey-color: #eee;
}

html, body {
	height: 100%;
}

body {
	font-family: "Comfortaa", sans-serif;
	min-width: 300px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: .9em;
	padding: 10px 0;
}

/*======General========*/

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main.main {
	flex: 1 1 auto;
}

a {
	color: var(--text-color);
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}


.section-title {
	position: relative;
	text-transform: uppercase;
	color: var(--contrast-color);
	font-weight: 700;
}

.section-title span {
	background-color: var(--bg-color);
	padding-right: 1rem;
	position: relative;
	z-index: 1;
}

.section-title::after {
	position: absolute;
	content: '';
	width: 100%;
	top: 50%;
	left: 0;
	border-top: 1px dashed var(--text-color);
}

.btn, 
.dropdown-menu, 
.form-control,
.form-select {
	border-radius: 0;
}

.form-control:focus,
.form-select:focus {
	color: var(--text-color);
	border-color: var(--accent-color);
	box-shadow: none;
}

.form-control::placeholder {
	color: var(--gray-color);
}

label.required::before {
	content: "* ";
	color: #dc3545;
	font-weight: bold;
}

.btn-warning {
	background-color: var(--accent-color);
	color: var(--contrast-color);
}

.btn-outline-warning {
	border-color: var(--accent-color);
}

.btn-outline-warning :hover {
	background-color: var(--accent-color);
	color: var(--contrast-color);
}

.fa-heart, .fa-cart-shopping {
	color: var(--gray-color);
}
/*======Header========*/

		/*===header top====*/
.header-top-phone {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-top .btn {
	background-color: #fff;
}

.header-top-phone a {
	text-decoration: none;
}

.header-top-phone:hover {
	text-decoration: underline;
}


ul.social-icons {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.social-icons li {
	margin-right: 10px;
}

ul.social-icons a {
	color: var(--contrast-color);
	background-color: var(--accent-color);
	width: 31px;
	height: 31px;
	float: left;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all .3s;
}

ul.social-icons a:hover {
	color: var(--accent-color);
	background-color: var(--contrast-color);
}

.dropdown_wrapper {
	display: flex;
	justify-content: end;
}

		/*===header-middle===*/
.header-middle {
	background-color: #fff;
}

.header-logo {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--accent-color);
	transition: all .3s;
}

.header-logo:hover {
	color: var(--contrast-color);
}

.cart-buttons .btn {
	color: var(--contrast-color);
	transition: all .3s;
}

.cart-buttons .btn:hover {
	border: 1px solid var(--contrast-color);
}
				/*===offcanvas cart===*/
.offcanvasCart-table .product-img-td {
	width: 70px;
	text-align: center;
}

.offcanvasCart-table img {
	max-width: 50px;
}

.offcanvasCart-table a {
	text-decoration: none;
	display: block;
}

.offcanvasCart-table a:hover {
	text-decoration: underline;
	color: var(--text-color);
}

		/*===header-bottom===*/
.header-bottom {
	border-top: 3px solid var(--accent-color);
	box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.header-bottom .nav-item:first-child .nav-link {
	padding-left: 0;
}

.header-bottom .navbar .nav-link {
	color: #fff;
	transition: all .3s;
}

.header-bottom .navbar .nav-link:hover {
	color: var(--accent-color);
}

.header-bottom .navbar .nav-link .active {
	color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
	margin-top: 7px;
}

/*уменьшение padding при скролле >135px*/
.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
	padding-top: .3rem;
	padding-bottom: .3rem;
}

		/*===Плавность ссылок navbar==*/
.navbar a {
	transition: all .3s;
}

		/*===Анимация navbar при раскрытии dropdown===*/
.animate {
	animation-duration: .3s;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.slideIn {
	animation-name: slideIn;
}

/*========Index Page===========*/

		/*====Carousel===*/

.carousel-caption {
	text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.carousel-caption p {
	font-size: 1.5rem;
}

		/*====Advantages===*/

.advantages .item {
	background-color: #fff;
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all .3s;
}

.advantages .item:hover {
	box-shadow: 0 15px 30px -20px rgba(0, 0, 0, .5);
}

.advantages i {
	font-size: 70px;
	color: var(--accent-color);
}
		/*====Featured products===*/

			/*====Product card===*/

.product-card {
	transition: all .3s;
	border: 1px solid var(--gray-color);
	background-color: #fff;
	position: relative;
	height: 100%;
}

.product-card:hover {
	box-shadow: 0 10px 20px -15px rgba(0, 0, 0, .75);
}

.product-card-offer {
	color: #fff;
	position: absolute;
	top: 5px;
	right: 5px;
	text-transform: uppercase;
}

.product-card-offer>div {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

.offer-hit {
	background-color: var(--red-color);
}

.offer-new {
	background-color: var(--accent-color);
}

.product-thumb {
	text-align: center;
}

.product-thumb img {
	max-height: 250px;
}

.product-details {
	padding: 10px 20px;
}

.product-details h4 {
	font-size: 1.2rem;
}

.product-details h4 a {
	height: 45px; /*оставляем 2 строки заголовка, остальное обрезаем и заменяем троеточием*/
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-decoration: none;
	transition: all .3s;
}

.product-details h4 a:hover {
	color: var(--accent-color);
}

.product-excert {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 45px;
	overflow: hidden;
}

.product-bottom-details {
	border-top: 1px solid var(--light-grey-color);
	padding-top: 1rem;
}

.product-price {
	font-size: 18px;
	color: var(--red-color);
	font-weight: 600;
}

.product-price small {
	color: var(--gray-color);
	font-weight: 400;
	text-decoration: line-through;
	font-size: 0.8rem;
}

.product-rating i {
	color: #ccc;
}

.product-rating .active {
	color: var(--accent-color);
}

.product-rating .count-reviews {
	margin-left: 10px;
}

.prodcut-review-header {
	display: flex;
	justify-content: space-between;
}

.prodcut-review-header .review-date {
	color: var(--gray-color);
}

		/*====About Us===*/
.about-us {
	background-color: #fff;
}

.about-us .section-title span,
.sidebar .section-title span,
.bg-white .section-title span {
	background-color: #fff;
}

/*========Footer==========*/
.footer {
	background-color: var(--contrast-color);
	padding: 50px 0;
	color: #fff;
}

footer h4 {
	color: var(--accent-color);
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: all .3s;
}

footer a:hover {
	color: var(--accent-color);
}

.footer-icons {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	font-size: 20px;
}

/*========Arrow UP==========*/
#toTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--accent-color);
	opacity: .5;
	color: #fff;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 0;
	font-size: 25px;
	transition: all, .3s;
	z-index: 5;
	display: none;
}

#toTop:hover {
	opacity: 1;
}

#toTop.show { 
	display: block;
}


/*========Category Page===========*/

		/*========Breadcrumbs===========*/

.breadcrums {
	margin: 30px 0;
	padding: 1rem;
	background-color: #fff;
}

.breadcrums ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.breadcrums a {
	text-decoration: none;color: var(--contrast-color);
	transition: all .3s;
	margin-right: 0.5rem;
}

.breadcrums a:hover {
	color: var(--accent-color);
}

.breadcrums a::after {
	content: "/";
	padding-left: 0.5rem;
	color: var(--contrast-color);
}

		/*========Sidebar===========*/
.sidebar {
	background-color: #fff;
	padding: .5rem 1rem;
	margin-bottom: 1rem;
}

.filter-block:not(:last-child) {
	margin-bottom: 2rem;
}

.filter-block .form-check {
	margin-bottom: 0.5rem;
}

.form-check-input[type="checkbox"] {
	border-radius: 0;
	border-color: var(--gray-color);
}

.form-check-input:focus {
	border-color: var(--gray-color);
	box-shadow: none;
}

.form-check-input:checked {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.filter-block .badge {
	color: var(--text-color);
}

.sidebar .collapse-filters-btn {
	color: var(--contrast-color);
}

.sidebar .collapse-filters-btn i {
	margin-right: 10px;
}

		/*========Category Content===========*/
.page-link {
	color: var(--contrast-color);
}

.page-link:hover {
	color: #fff;
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.active > .page-link, .page-link.active {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

/*========Product Page===========*/

.product-content .product-price {
	font-size: 25px;
}

.product-content .input-group {
	width: 250px;
}

.product-content .card i {
	color: var(--accent-color);
}

.product-content .card {
	padding-left: 20px;
	font-size: 14px;
}

.product-content .card ul li::before {
	content: '\f105';
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	margin-right: 10px;
}

.nav-tabs .nav-link {
	border-radius: 0;
	color: var(--contrast-color);
}

.tab-content {
	padding-top: 20px;
}

/*========Cart Page===========*/
.cart-content table img{
	max-width: 50px;
}

.cart-content table th {
	text-align: center;
}

.cart-content table td {
	padding: 1rem;
}

.cart-content-title {
	text-decoration: none;
	display: block;
}

.cart-qty {
	width: 70px;
}

.btn-coupon {
	color: var(--text-color);
	text-decoration: none;
}

.btn-coupon:hover {
	color: var(--contrast-color);
}

.cart-summary h3 {
	color: #000;
}

.cart-summary btn {
	padding: 1rem;
}
/*========Media==========*/

@media only screen and (min-width: 992px) {
	.header-bottom .navbar .dropdown-menu-end {
		margin-left: 0;
		border: 0;
	}
	.header-bottom .navbar .nav-link {
		padding: 1rem;
	}
}

@media only screen and (max-width: 991px) {
	.header-bottom .navbar .dropdown-menu {
		padding-left: 1rem;
	}
}

@media only screen and (min-width: 768px) {
	.sidebar .collapse-filters {
		display: block;
	}
	.sidebar .collapse-filters-btn {
		display: none;
	}
}

/* @media only screen and (max-width: 500px) {
	.product-content-details .nav-tabs .nav-link {
		padding-left: 8px;
		padding-right: 8px;
	}
} */

@media only screen and (max-width: 351px) {
	.offcanvasCart-table td:last-child {
		width: 30px;
	}
}
